@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  height: 100%;
  background: whitesmoke;
  overflow-x: hidden;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
.size {
  width: 100vw;
  height: 100%;
}
.font-family-karla {
  font-family: karla;
}
.bg-sidebar {
  background: #9fa7a7;
}
.cta-btn {
  color: #9fa7a7;
}
.logo-color {
  color: #9fa7a7;
}
.border-logo {
  border: 5px solid #9fa7a7;
}
.upgrade-btn {
  background: #9fa7a7;
}
.upgrade-btn:hover {
  background: #bcc4c4;
}
.active-nav-link {
  background: #9fa7a7;
}
.nav-item:hover {
  background: #9fa7a7;
}
.account-link:hover {
  background: #9fa7a7;
}
.bg-main {
  background-color: whitesmoke;
}
.bg-search {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("/bg-search.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 90%;
}

.bg-search {
  background-color: #ffffff; /* or your preferred background color */
}

.full-screen {
  height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  margin-top: 2rem;
  padding: 1rem;
  width: 75%;
}

.input-field {
  padding: 1rem;
  outline: none;
  border: 2px solid #ccc;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.button-search {
  padding: 1rem;
  outline: none;
  border: 2px solid #ccc;
  background-color: #28a745;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
}

.button-search:hover {
  background-color: #218838;
}
